@import url('https://fonts.cdnfonts.com/css/modern-typewriter');
@font-face {
    font-family: dotline;
    src: url(/resources/fonts/Dotline-LA7g.ttf);
}
*{
    margin: 0;
    padding: 0;                                 
}

body{
    background-color: black;
    font-family: dotline;
    color: white;
    
}

.welcome-img{
    width: 500px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text{
    font-size: 16px;
    color: white;
    margin: 5px;
    font-family: dotline;
}


.input-text{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: dotline;
    font-size: 14px;
    color: whitesmoke;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-btn{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #000000;
    font-family: dotline;
    font-size: 16px;
    border: none;
    margin: 5px;
}

#send-btn{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color:black;
    font-family: dotline;
    font-size: 16px;
    border: none;
    margin: 5px;
}


.chat-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    
}

.chat-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#username{
    color: rgb(255, 0, 0);
    font-size: 14px;
    margin: 5px;
    font-family: dotline;
}

#message{
    width: 100%;
    height: auto;
    color: rgb(15, 244, 7);
    font-size: 14px;
    margin: 5px;
    font-family: dotline;
    white-space: pre-wrap;
}

.messageInput{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 5px;
    font-family: dotline;
    font-size: 16px;
    color: whitesmoke;
}

#typeText{
    margin-bottom: 10px;
}
